:root {
    /* SCALES */
    --size-2xs: var(--scale-4);
    --size-sm: var(--scale-5);
    --size-md: var(--scale-6);
    --size-lg: var(--scale-7);
    --size-xl: var(--scale-10);
    --pd-2xs: var(--scale-0-3);
    --pd-sm: var(--scale-1);
    --pd-md: var(--scale-2);
    --pd-lg: var(--scale-3);
    --pd-xl: var(--scale-4);
    --pd-2xl: var(--scale-6);
    --radius-xs: var(--scale-0-3);
    --radius-sm: var(--scale-0-6);
    --radius-md: var(--scale-1);
    --radius-lg: var(--scale-2);
    --radius-xl: var(--scale-3);
    --text-xs: 0.75rem;
    --text-sm: 0.8125rem;
    --text-md: 1rem;
    --text-lg: 1.25rem;
    --text-xl: 1.75rem;
    --icon-sm: 1rem;
    --icon-md: 1.125rem;
    --icon-lg: 1.25rem;
    --icon-xl: 1.5rem;
    --icon-2xl: 1.75rem;
    --color-gray-150: #f2f6fa;
    --color-gray-140: #e2e7ed;
    --color-gray-130: #ccd4dc;
    --color-gray-120: #afb8c4;
    --color-gray-110: #8691a0;
    --color-gray-100: #596576;
    --color-gray-90: #3d485a;
    --color-gray-80: #313847;
    --color-gray-70: #282c39;
    --color-gray-60: #21232c;
    --color-gray-50: #1d1e26;
    --color-gray-40: #18191f;
    --color-gray-30: #15151a;
    --color-gray-20: #121116;
    --color-gray-10: #0f0f12;
    --size-2xl: var(--scale-13);
    --size-4xl: var(--scale-20);
    --size-3xl: var(--scale-18);
    --pd-3xl: var(--scale-8);
    --color-brand-150: #f7feff;
    --color-brand-140: #eaf9ff;
    --color-brand-130: #cbedff;
    --color-brand-120: #9de0f4;
    --color-brand-110: #6ad0e5;
    --color-brand-100: #1ac0da;
    --color-brand-90: #00abc2;
    --color-brand-80: #0096a9;
    --color-brand-70: #008190;
    --color-brand-60: #006b78;
    --color-brand-50: #005761;
    --color-brand-40: #00444b;
    --color-brand-30: #003339;
    --color-brand-20: #002629;
    --color-brand-10: #001e22;
    --color-yellow-150: #ffecb8;
    --color-yellow-140: #f9d893;
    --color-yellow-130: #edc46b;
    --color-yellow-120: #e1b03c;
    --color-yellow-110: #ce9e25;
    --color-yellow-100: #b98d16;
    --color-yellow-90: #a57c00;
    --color-yellow-80: #926c00;
    --color-yellow-70: #7f5b00;
    --color-yellow-60: #6c4c00;
    --color-yellow-50: #5a3d00;
    --color-yellow-40: #492e00;
    --color-yellow-30: #382000;
    --color-yellow-20: #281200;
    --color-yellow-10: #180600;
    --color-red-150: #ffdab2;
    --color-red-140: #ffc097;
    --color-red-130: #ffa67d;
    --color-red-120: #ff8b65;
    --color-red-110: #f4704f;
    --color-red-100: #e55239;
    --color-red-90: #d52f26;
    --color-red-80: #bf2021;
    --color-red-70: #a9141c;
    --color-red-60: #940618;
    --color-red-50: #7e0012;
    --color-red-40: #6a000d;
    --color-red-30: #560007;
    --color-red-20: #430003;
    --color-red-10: #300001;
    --size-3xs: 20px;
    --size-3xs-rem: 1.25rem;
    --color-blue-150: #cbf1ff;
    --color-blue-140: #b1dcff;
    --color-blue-130: #97c7ff;
    --color-blue-120: #7db2ff;
    --color-blue-110: #639df4;
    --color-blue-100: #4a89e6;
    --color-blue-90: #2e74d8;
    --color-blue-80: #1d63c4;
    --color-blue-70: #1354ad;
    --color-blue-60: #094696;
    --color-blue-50: #003880;
    --color-blue-40: #002a6a;
    --color-blue-30: #001e56;
    --color-blue-20: #001142;
    --color-blue-10: #00052e;
    --scale-1: 6px;
    --scale-1-rem: 0.375rem;
    --scale-2: 12px;
    --scale-2-rem: 0.75rem;
    --scale-3: 18px;
    --scale-3-rem: 1.125rem;
    --scale-4: 24px;
    --scale-4-rem: 1.5rem;
    --scale-5: 30px;
    --scale-5-rem: 1.875rem;
    --scale-6: 36px;
    --scale-6-rem: 2.25rem;
    --scale-7: 42px;
    --scale-7-rem: 2.625rem;
    --scale-8: 48px;
    --scale-8-rem: 3rem;
    --scale-9: 54px;
    --scale-9-rem: 3.375rem;
    --scale-10: 60px;
    --scale-10-rem: 3.75rem;
    --scale-11: 66px;
    --scale-11-rem: 4.125rem;
    --scale-12: 72px;
    --scale-12-rem: 4.5rem;
    --scale-13: 78px;
    --scale-13-rem: 4.875rem;
    --scale-14: 84px;
    --scale-14-rem: 5.25rem;
    --scale-15: 90px;
    --scale-15-rem: 5.625rem;
    --scale-0-5: 3px;
    --scale-0-5-rem: 0.1875rem;
    --scale-0-3: 2px;
    --scale-0-3-rem: 0.125rem;
    --scale-0-6: 4px;
    --scale-0-6-rem: 0.25rem;
    --scale-16: 96px;
    --scale-16-rem: 6rem;
    --scale-17: 102px;
    --scale-17-rem: 6.375rem;
    --scale-18: 108px;
    --scale-18-rem: 6.75rem;
    --scale-19: 114px;
    --scale-19-rem: 7.125rem;
    --scale-20: 120px;
    --scale-20-rem: 7.5rem;
    --pd-xs: var(--scale-0-6);
    --radius-2xl: var(--scale-4);
    --radius-max: var(--size-xl);
    --pd-4xl: var(--scale-12);
    --icon-xs: 14px;
    --icon-xs-rem: 0.875rem;
    --icon-xl: 24px;
    --icon-xl-rem: 1.5rem;
    --weight-regular: "Regular";
    --weight-medium: "Medium";
    --weight-bold: "Semibold";
    --color-green-10: #001100;
    --color-green-20: #001e00;
    --color-green-30: #032c00;
    --color-green-40: #0d3b06;
    --color-green-50: #184a10;
    --color-green-60: #235a1b;
    --color-green-70: #2e6a26;
    --color-green-80: #397b30;
    --color-green-90: #458c3b;
    --color-green-100: #5b9e52;
    --color-green-110: #74b06b;
    --color-green-120: #8cc284;
    --color-green-130: #a4d59d;
    --color-green-140: #bde8b6;
    --color-green-150: #d6fbd0;
    --color-orange-10: #1e0200;
    --color-orange-20: #2e0a00;
    --color-orange-30: #3f1500;
    --color-orange-40: #512100;
    --color-orange-50: #632e00;
    --color-orange-60: #763b00;
    --color-orange-70: #894802;
    --color-orange-80: #9d560f;
    --color-orange-90: #b2641b;
    --color-orange-100: #c47634;
    --color-orange-110: #d48c53;
    --color-orange-120: #e3a170;
    --color-orange-130: #f3b88c;
    --color-orange-140: #ffcea8;
    --color-orange-150: #ffe4c4;
    --dec-01-10: #210709;
    --dec-01-20: #311012;
    --dec-01-30: #45171a;
    --dec-01-40: #5b1d20;
    --dec-01-50: #732225;
    --dec-01-60: #8d2628;
    --dec-01-70: #a7282a;
    --dec-01-80: #c32a29;
    --dec-01-90: #df2b26;
    --dec-01-100: #f04928;
    --dec-01-110: #fa6e3b;
    --dec-01-120: #ff8e53;
    --dec-01-130: #ffab6e;
    --dec-01-140: #ffc58a;
    --dec-01-150: #ffdca2;
    --dec-02-10: #1b0c05;
    --dec-02-20: #2a180d;
    --dec-02-30: #3b2314;
    --dec-02-40: #4e2e19;
    --dec-02-50: #62391d;
    --dec-02-60: #77451f;
    --dec-02-70: #8c5121;
    --dec-02-80: #a35e20;
    --dec-02-90: #b96b1d;
    --dec-02-100: #d07818;
    --dec-02-110: #d99038;
    --dec-02-120: #dfaa5c;
    --dec-02-130: #e7c27d;
    --dec-02-140: #f2d89c;
    --dec-02-150: #ffedb5;
    --dec-03-10: #170e0a;
    --dec-03-20: #241913;
    --dec-03-30: #33241c;
    --dec-03-40: #442f23;
    --dec-03-50: #553b2b;
    --dec-03-60: #684731;
    --dec-03-70: #7a5338;
    --dec-03-80: #8d603e;
    --dec-03-90: #a16d44;
    --dec-03-100: #ae8156;
    --dec-03-110: #bb976d;
    --dec-03-120: #c9ad86;
    --dec-03-130: #d7c39e;
    --dec-03-140: #e8d9b7;
    --dec-03-150: #faeecd;
    --dec-04-10: #200a00;
    --dec-04-20: #2f1700;
    --dec-04-30: #3f2400;
    --dec-04-40: #4f3200;
    --dec-04-50: #604000;
    --dec-04-60: #714f00;
    --dec-04-70: #835f00;
    --dec-04-80: #946f00;
    --dec-04-90: #a67f00;
    --dec-04-100: #b89000;
    --dec-04-110: #c6a326;
    --dec-04-120: #d0b756;
    --dec-04-130: #dbcb78;
    --dec-04-140: #e9df94;
    --dec-04-150: #faf2a9;
    --dec-05-10: #1c0d00;
    --dec-05-20: #2d1a00;
    --dec-05-30: #3d2800;
    --dec-05-40: #4d3700;
    --dec-05-50: #5d4700;
    --dec-05-60: #6e5800;
    --dec-05-70: #7e6900;
    --dec-05-80: #8f7b00;
    --dec-05-90: #9f8e00;
    --dec-05-100: #b0a000;
    --dec-05-110: #c1b400;
    --dec-05-120: #d1c700;
    --dec-05-130: #dfdb4e;
    --dec-05-140: #e7ee83;
    --dec-05-150: #e7fa9d;
    --dec-06-10: #0c1301;
    --dec-06-20: #172107;
    --dec-06-30: #202f0d;
    --dec-06-40: #2a3f11;
    --dec-06-50: #334f14;
    --dec-06-60: #3b6016;
    --dec-06-70: #437218;
    --dec-06-80: #4b8519;
    --dec-06-90: #51981a;
    --dec-06-100: #4bad2c;
    --dec-06-110: #4bc14b;
    --dec-06-120: #63d274;
    --dec-06-130: #7ce396;
    --dec-06-140: #95f4b4;
    --dec-06-150: #abffcc;
    --dec-07-10: #091408;
    --dec-07-20: #122012;
    --dec-07-30: #1a2d1b;
    --dec-07-40: #213c24;
    --dec-07-50: #254b2d;
    --dec-07-60: #285b36;
    --dec-07-70: #286c3e;
    --dec-07-80: #247e48;
    --dec-07-90: #169152;
    --dec-07-100: #29a466;
    --dec-07-110: #4eb67e;
    --dec-07-120: #6cc897;
    --dec-07-130: #88daaf;
    --dec-07-140: #a2eec6;
    --dec-07-150: #b8ffdc;
    --dec-08-10: #051312;
    --dec-08-20: #0e201f;
    --dec-08-30: #142e2c;
    --dec-08-40: #193d3b;
    --dec-08-50: #1c4c4b;
    --dec-08-60: #1e5c5c;
    --dec-08-70: #1e6d6d;
    --dec-08-80: #1c7e80;
    --dec-08-90: #189093;
    --dec-08-100: #24a0a8;
    --dec-08-110: #50b0be;
    --dec-08-120: #72c1d4;
    --dec-08-130: #90d2e9;
    --dec-08-140: #ace4fd;
    --dec-08-150: #c4f7ff;
    --dec-09-10: #04121e;
    --dec-09-20: #0a1d2e;
    --dec-09-30: #0f2a41;
    --dec-09-40: #123757;
    --dec-09-50: #14446e;
    --dec-09-60: #165188;
    --dec-09-70: #195ea2;
    --dec-09-80: #1e6cbe;
    --dec-09-90: #2579db;
    --dec-09-100: #5489e8;
    --dec-09-110: #799af3;
    --dec-09-120: #9aacfe;
    --dec-09-130: #b7bfff;
    --dec-09-140: #d1d3ff;
    --dec-09-150: #e8e7ff;
    --dec-10-10: #050e28;
    --dec-10-20: #0c183a;
    --dec-10-30: #132152;
    --dec-10-40: #1a286f;
    --dec-10-50: #232e8e;
    --dec-10-60: #2e32b0;
    --dec-10-70: #3b33d3;
    --dec-10-80: #4f2ff7;
    --dec-10-90: #6b4dff;
    --dec-10-100: #8766ff;
    --dec-10-110: #a27eff;
    --dec-10-120: #bc94ff;
    --dec-10-130: #d6abff;
    --dec-10-140: #edc1ff;
    --dec-10-150: #ffd7ff;
    --dec-11-10: #110b25;
    --dec-11-20: #1c1535;
    --dec-11-30: #291e4b;
    --dec-11-40: #372564;
    --dec-11-50: #472c7f;
    --dec-11-60: #58319b;
    --dec-11-70: #6a34b9;
    --dec-11-80: #7e37d7;
    --dec-11-90: #943eee;
    --dec-11-100: #ae5af0;
    --dec-11-110: #c772f2;
    --dec-11-120: #df8af6;
    --dec-11-130: #f5a2fd;
    --dec-11-140: #ffbaff;
    --dec-11-150: #ffd0ff;
    --dec-12-10: #170a1f;
    --dec-12-20: #24142e;
    --dec-12-30: #341d41;
    --dec-12-40: #462556;
    --dec-12-50: #592d6c;
    --dec-12-60: #6d3483;
    --dec-12-70: #833a9b;
    --dec-12-80: #9a40b2;
    --dec-12-90: #b245ca;
    --dec-12-100: #c951d8;
    --dec-12-110: #e06cd7;
    --dec-12-120: #f486d8;
    --dec-12-130: #ffa0de;
    --dec-12-140: #ffb8e8;
    --dec-12-150: #ffcff8;
    --dec-13-10: #1f070f;
    --dec-13-20: #2f101a;
    --dec-13-30: #421624;
    --dec-13-40: #581a2f;
    --dec-13-50: #6f1d38;
    --dec-13-60: #891e41;
    --dec-13-70: #a31c49;
    --dec-13-80: #bf1750;
    --dec-13-90: #d71e55;
    --dec-13-100: #e74b5c;
    --dec-13-110: #f56c68;
    --dec-13-120: #ff8977;
    --dec-13-130: #ffa58b;
    --dec-13-140: #ffbfa0;
    --dec-13-150: #ffd6b6;
    --dec-14-10: #101012;
    --dec-14-20: #1c1c1e;
    --dec-14-30: #29282b;
    --dec-14-40: #363539;
    --dec-14-50: #434347;
    --dec-14-60: #515156;
    --dec-14-70: #605f66;
    --dec-14-80: #6f6e76;
    --dec-14-90: #7e7d87;
    --dec-14-100: #8e8d97;
    --dec-14-110: #a09fa8;
    --dec-14-120: #b3b2ba;
    --dec-14-130: #c6c6cd;
    --dec-14-140: #dadae0;
    --dec-14-150: #eeeef3;
    --dec-ds-01-10: #190c0e;
    --dec-ds-01-20: #281719;
    --dec-ds-01-30: #382224;
    --dec-ds-01-40: #4b2c2f;
    --dec-ds-01-50: #5e373a;
    --dec-ds-01-60: #734245;
    --dec-ds-01-70: #894d50;
    --dec-ds-01-80: #9f585a;
    --dec-ds-01-90: #b66465;
    --dec-ds-01-100: #cc716f;
    --dec-ds-01-110: #d8887c;
    --dec-ds-01-120: #e4a18d;
    --dec-ds-01-130: #f1b8a1;
    --dec-ds-01-140: #ffcfb6;
    --dec-ds-01-150: #ffe4cc;
    --dec-ds-02-10: #160f0a;
    --dec-ds-02-20: #241b15;
    --dec-ds-02-30: #332820;
    --dec-ds-02-40: #43352b;
    --dec-ds-02-50: #554235;
    --dec-ds-02-60: #675040;
    --dec-ds-02-70: #7a5f4b;
    --dec-ds-02-80: #8d6e55;
    --dec-ds-02-90: #a07d60;
    --dec-ds-02-100: #b48d6b;
    --dec-ds-02-110: #c89d77;
    --dec-ds-02-120: #d2b38c;
    --dec-ds-02-130: #dbc8a5;
    --dec-ds-02-140: #e7dcbd;
    --dec-ds-02-150: #f7efd3;
    --dec-ds-03-10: #140f0d;
    --dec-ds-03-20: #201a18;
    --dec-ds-03-30: #2e2622;
    --dec-ds-03-40: #3d322c;
    --dec-ds-03-50: #4c3e36;
    --dec-ds-03-60: #5c4b41;
    --dec-ds-03-70: #6c594b;
    --dec-ds-03-80: #7d6656;
    --dec-ds-03-90: #8f7461;
    --dec-ds-03-100: #9d8772;
    --dec-ds-03-110: #ad9b87;
    --dec-ds-03-120: #bdb09c;
    --dec-ds-03-130: #cfc4b2;
    --dec-ds-03-140: #e1d9c9;
    --dec-ds-03-150: #f5eede;
    --dec-ds-04-10: #1b0d00;
    --dec-ds-04-20: #291a00;
    --dec-ds-04-30: #382809;
    --dec-ds-04-40: #483615;
    --dec-ds-04-50: #584521;
    --dec-ds-04-60: #69552c;
    --dec-ds-04-70: #7a6538;
    --dec-ds-04-80: #8c7544;
    --dec-ds-04-90: #9d8651;
    --dec-ds-04-100: #b0975d;
    --dec-ds-04-110: #c2a96a;
    --dec-ds-04-120: #d5bb78;
    --dec-ds-04-130: #d9d29b;
    --dec-ds-04-140: #dee4bb;
    --dec-ds-04-150: #eaf4d2;
    --dec-ds-05-10: #141103;
    --dec-ds-05-20: #201d0a;
    --dec-ds-05-30: #2e2a11;
    --dec-ds-05-40: #3d3816;
    --dec-ds-05-50: #4d471b;
    --dec-ds-05-60: #5c561e;
    --dec-ds-05-70: #6c6621;
    --dec-ds-05-80: #7c7723;
    --dec-ds-05-90: #8c8826;
    --dec-ds-05-100: #9c9929;
    --dec-ds-05-110: #aaab3c;
    --dec-ds-05-120: #b7be67;
    --dec-ds-05-130: #c6d08b;
    --dec-ds-05-140: #d7e3a9;
    --dec-ds-05-150: #e9f6c2;
    --dec-ds-06-10: #0e1305;
    --dec-ds-06-20: #1a200e;
    --dec-ds-06-30: #262e16;
    --dec-ds-06-40: #323d1e;
    --dec-ds-06-50: #3e4d26;
    --dec-ds-06-60: #4b5e2e;
    --dec-ds-06-70: #576f36;
    --dec-ds-06-80: #63813e;
    --dec-ds-06-90: #6f9447;
    --dec-ds-06-100: #7aa750;
    --dec-ds-06-110: #86bb5a;
    --dec-ds-06-120: #95cc78;
    --dec-ds-06-130: #a9dc9b;
    --dec-ds-06-140: #bfebb9;
    --dec-ds-06-150: #d3fcd0;
    --dec-ds-07-10: #0c120e;
    --dec-ds-07-20: #161e19;
    --dec-ds-07-30: #1f2b24;
    --dec-ds-07-40: #283930;
    --dec-ds-07-50: #30473c;
    --dec-ds-07-60: #395649;
    --dec-ds-07-70: #416657;
    --dec-ds-07-80: #497665;
    --dec-ds-07-90: #508673;
    --dec-ds-07-100: #64978a;
    --dec-ds-07-110: #7ba9a1;
    --dec-ds-07-120: #92bbb7;
    --dec-ds-07-130: #a9cecd;
    --dec-ds-07-140: #c0e1e2;
    --dec-ds-07-150: #d6f6f7;
    --dec-ds-08-10: #091312;
    --dec-ds-08-20: #141f1e;
    --dec-ds-08-30: #1e2d2c;
    --dec-ds-08-40: #283c3a;
    --dec-ds-08-50: #314b4a;
    --dec-ds-08-60: #3b5b5a;
    --dec-ds-08-70: #446c6b;
    --dec-ds-08-80: #4e7d7d;
    --dec-ds-08-90: #578f8f;
    --dec-ds-08-100: #61a0a2;
    --dec-ds-08-110: #71b1b5;
    --dec-ds-08-120: #8dc0ca;
    --dec-ds-08-130: #a8d1dd;
    --dec-ds-08-140: #c1e1ef;
    --dec-ds-08-150: #d7f4ff;
    --dec-ds-09-10: #0d1115;
    --dec-ds-09-20: #181d22;
    --dec-ds-09-30: #232a31;
    --dec-ds-09-40: #2e3741;
    --dec-ds-09-50: #394552;
    --dec-ds-09-60: #455363;
    --dec-ds-09-70: #516276;
    --dec-ds-09-80: #5e7189;
    --dec-ds-09-90: #6b809c;
    --dec-ds-09-100: #7b8fae;
    --dec-ds-09-110: #93a0be;
    --dec-ds-09-120: #abb2cd;
    --dec-ds-09-130: #c2c5dd;
    --dec-ds-09-140: #d8d8ee;
    --dec-ds-09-150: #edecff;
    --dec-ds-10-10: #0e1019;
    --dec-ds-10-20: #1a1c27;
    --dec-ds-10-30: #262838;
    --dec-ds-10-40: #33354a;
    --dec-ds-10-50: #41435d;
    --dec-ds-10-60: #4f5071;
    --dec-ds-10-70: #5e5e86;
    --dec-ds-10-80: #6e6d9b;
    --dec-ds-10-90: #7e7bb1;
    --dec-ds-10-100: #8f8ac8;
    --dec-ds-10-110: #a499d6;
    --dec-ds-10-120: #bdabde;
    --dec-ds-10-130: #d4bee8;
    --dec-ds-10-140: #e9d1f4;
    --dec-ds-10-150: #fce5ff;
    --dec-ds-11-10: #110f18;
    --dec-ds-11-20: #1d1a26;
    --dec-ds-11-30: #2a2536;
    --dec-ds-11-40: #383047;
    --dec-ds-11-50: #463c5a;
    --dec-ds-11-60: #56476d;
    --dec-ds-11-70: #665381;
    --dec-ds-11-80: #775f95;
    --dec-ds-11-90: #896baa;
    --dec-ds-11-100: #9e7bb5;
    --dec-ds-11-110: #b48fc0;
    --dec-ds-11-120: #c9a3cc;
    --dec-ds-11-130: #deb8da;
    --dec-ds-11-140: #f1cde9;
    --dec-ds-11-150: #ffe2fc;
    --dec-ds-12-10: #130f16;
    --dec-ds-12-20: #201b23;
    --dec-ds-12-30: #2f2833;
    --dec-ds-12-40: #3e3543;
    --dec-ds-12-50: #4f4355;
    --dec-ds-12-60: #605167;
    --dec-ds-12-70: #725f79;
    --dec-ds-12-80: #846e8c;
    --dec-ds-12-90: #987da0;
    --dec-ds-12-100: #ab8db3;
    --dec-ds-12-110: #c09cc7;
    --dec-ds-12-120: #d4adda;
    --dec-ds-12-130: #e8c0dd;
    --dec-ds-12-140: #f6d3e4;
    --dec-ds-12-150: #ffe4f1;
    --dec-ds-13-10: #190c12;
    --dec-ds-13-20: #26161d;
    --dec-ds-13-30: #361f29;
    --dec-ds-13-40: #482835;
    --dec-ds-13-50: #5b3041;
    --dec-ds-13-60: #70394d;
    --dec-ds-13-70: #854159;
    --dec-ds-13-80: #9b4965;
    --dec-ds-13-90: #af576f;
    --dec-ds-13-100: #c16e7b;
    --dec-ds-13-110: #d1858a;
    --dec-ds-13-120: #e19c9a;
    --dec-ds-13-130: #f1b3ad;
    --dec-ds-13-140: #ffcac1;
    --dec-ds-13-150: #ffe0d5;
    --text-2xs: 11px;
    --text-2xs-rem: 0.6875rem;
    --text-3xs: 10px;
    --text-3xs-rem: 0.625rem;
    --size-xs: 26px;
    --size-xs-rem: 1.625rem;
    --icon-2xs: 12px;
    --icon-2xs-rem: 0.75rem;

    /* Legacy spacing aliases for backward compatibility */
    --spacing-xs: var(--pd-xs);
    --spacing-sm: var(--pd-sm);
    --spacing-md: var(--pd-md);
    --spacing-lg: var(--pd-lg);
    --spacing-xl: var(--pd-xl);
    --spacing-2xl: var(--pd-2xl);
    --spacing-3xl: var(--pd-3xl);

    /* Z-index scale */
    --z-base: 1;
    --z-overlay: 100;
    --z-modal: 1000;

    /* Base Colors */
    --color-black: #000;
    --color-white: #fff;

    /* Accent Colors (raw values) */
    --color-accent: #00C8E8;
    --color-accent-hover: #00E8FF;
    --color-accent-secondary: rgba(0, 136, 164, 0.8);

    /* Animation Scales - Timing Functions */
    --spatial-fast-bezier: cubic-bezier(0.42, 1.67, 0.21, 0.90);
    --spatial-default-bezier: cubic-bezier(0.38, 1.21, 0.22, 1.00);
    --spatial-slow-bezier: cubic-bezier(0.39, 1.29, 0.35, 0.98);
    --effects-fast-bezier: cubic-bezier(0.31, 0.94, 0.34, 1.00);
    --effects-default-bezier: cubic-bezier(0.34, 0.80, 0.34, 1.00);
    --effects-slow-bezier: cubic-bezier(0.34, 0.88, 0.34, 1.00);

    /* Animation Scales - Spatial Animations (Material Design Expressive Motion) */
    --spatial-fast: 120ms var(--spatial-fast-bezier);
    --spatial-default: 350ms var(--spatial-default-bezier);
    --spatial-slow: 650ms var(--spatial-slow-bezier);

    /* Animation Scales - Effect Animations */
    --effects-fast: 120ms var(--effects-fast-bezier);
    --effects-default: 350ms var(--effects-default-bezier);
    --effects-slow: 650ms var(--effects-slow-bezier);

    /* Animation Scales - Legacy Transitions */
    --transition-fast: 0.2s ease;
    --transition-base: 0.4s ease;

    /* Effect Scales */
    --blur-sm: blur(10px);
    --blur-md: blur(20px);
    --shadow-sm: 0 8px 32px rgba(0, 0, 0, 0.4);
  }